:root {
    --text-color: #212121;
    --title-color: #ffffff;
    --subtext-color: #757575;
    --bg-color: #2f303a;
    --subtitle-color: #ff0000;
    --text2-color: #000;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* header */
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
  
  .header-title {
    color: var(--text2-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .header-span {
    color: var(--subtitle-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
  
  .header-link:hover {
    color: var(--subtitle-color);
  }
  
  .header-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  
  .header-mail {
    color: var(--subtext-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    margin-left: auto;
  }
  
  .header-tel {
    color: var(--subtext-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    margin-left: 50px;
  }
  
  .header-contact:hover {
    color: var(--subtitle-color);
  }
  
  /* effective */
  .effective {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--bg-color);
  }
  
  .effective-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 40px;
  }
  
  .effective-button {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    background: var(--subtitle-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    display: flex;
    margin: 30px auto 0;
  }
  
  /* warning */
  .warning {
    padding-top: 94px;
  }
  
  .warning-list {
    display: flex;
    gap: 30px;
  }
  
  .warning-title {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
  }
  
  .warning-text {
    color: var(--subtext-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 270px;
    height: 72px;
  }
  
  /* engaged */
  .engaged {
    padding-top: 108px;
    padding-bottom: 94px;
  }
  
  .engaged-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  .engaged-title {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  
  .engaged-photo {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    background-color: lightgray;
    display: flex;
  }
  
  /* team */
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .team-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  .team-title {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  
  .team-photo {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    background-color: lightgray;
    margin-bottom: 30px;
  }
  
  /* исправил: УБРАЛ url(<path-to-image>) */
  
  /* footer */
  .footer {
    background: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  
  .footer-title {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .footer-span {
    color: var(--subtitle-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .foooter-address {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 231px;
    margin-top: 20px;
  }
  
  .footer-mail {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 136px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  
  .footer-tel {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 231px;
  }
  
  /* button */
  .button {
    padding-top: 94px;
  }
  
  .button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  
  .button-buttton {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding: 6px 22px;
  }
  
  .button-buttton:hover {
    color: var(--title-color);
    background-color: var(--subtitle-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  /* list */
  .list {
    padding-top: 50px;
    padding-bottom: 94px;
  }
  
  .list-box {
    padding: 0 24px 20px;
  }
  
  .list-photo {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    background-color: lightgray;
    margin-bottom: 20px;
  }
  
  .list-title {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.08px;
    width: 322px;
    padding-bottom: 4px;
  }
  
  .list-subtitle {
    color: var(--subtext-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    width: 322px;
  }
  
  .list-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }
  
  .team-item {
    text-align: center;
  }
    